<div class="comment">
  <div class="p-comment__item">
    <p><% @comments.each do |c| %></p>
    <div class="p-comment__bottomLine">
      <span><%= c.user.name %></span>
      <span><%= c.comment %></span>
      <span><%= c.created_at.to_s(:datetime_base) %></span>
      <hr>
      <% if @comment.user == current_user %>
        <span><%= link_to "削除", post_comment_path(@post, comment), class: 'btn btn-info', method: :delete %>
      <% end %>
    </div>
  </div>
</div>