<footer class="row">
    <div class="container">
        <div clss="footer-logo">
            <%= link_to "お笑い評価サイト", root_path, class: "logo" %>
            <p>©︎SHO NAKAJIMA</p>
        </div>
    </div>
</footer>